[phases.setup]
# Usamos nixPkgs (nativos de Railway) en lugar de aptPkgs
nixPkgs = ['ffmpeg', 'python3']

[phases.install]
# 1. Creamos una carpeta 'bin' oculta
# 2. Hacemos un clon de python3 y lo llamamos 'python'
# 3. Obligamos a npm a usar esta carpeta para que encuentre 'python' sin problemas
cmds = [
    "mkdir -p /app/bin",
    "ln -sf $(which python3) /app/bin/python",
    "PATH=\"/app/bin:$PATH\" npm ci"
]