body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000000;
}

a {
  color: #00B7FF;
}

#logo
{
  background-color: red;
  border-radius: 0.3em;
  font-size: 6em;
  text-align: center;
  color: white;

}

#link-section
{
  display: flex;
  justify-content: center;
}

#link
{
  width: 80%;
  margin-inline: 0.2em;
  font-size: 3em;
  height: 2em;

}

#formato-descarga
{
  margin-inline: 0.2em;
  background-color: #ffffff;
  text-align: center;
}

#botonPedir
{
  width: 30%;
  background-color: red;
  color: #ffffff;
  border-radius: 0.5em;
  border-style: unset;
  font-size: 3em;
  margin-inline: 0.2em;
}
#respuesta
{
  padding-inline: 1em;
  color: white;
}